@require('angular-material')

body
{
    font-size: 1em;
    background-color: black !important;
    margin: 0;
    padding: 0;
}

h1
{
    margin: 0;
    padding: 0;
}

.widgets
{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.widget
{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-height: 64pt;
    text-align: center;
    padding-top: 30px;
}

.red
{
    background-color: red;
}

.green
{
    background-color: green;
}

.gray
{
    background-color: gray;
}

.blue
{
    background-color: blue;
}

.yellow
{
    background-color: yellow;
}

ng-md-icon
{
    fill: white;
    padding-top: 20px !important;
    margin-top: 20px !important;
    border-top: 5px solid transparent;
}

md-button
{
    padding-top: 10px !important;
    margin-top: 10px !important;
}

md-grid-list
{
  margin: 0 !important;
  padding: 0 !important;
  background-color: black !important;
}

.gridListdemoDynamicTiles
{
  margin: 0;
  padding: 0;
  background-color: black !important;
  
}

.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 50%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px; }
.gridListdemoDynamicTiles .gray {
  background: #f5f5f5; }
.gridListdemoDynamicTiles .green {
  background: #b9f6ca; }
.gridListdemoDynamicTiles .yellow {
  background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
  background: #84ffff; }
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }
.gridListdemoDynamicTiles .purple {
  background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }
.gridListdemoDynamicTiles .red {
  background: #ff8a80; }
.gridListdemoDynamicTiles .pink {
  background: #ff80ab; }
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }