@require('angular-material')

body
{
    font-size: 1em;
    background-color: silver;
}

h1
{
    margin: 0;
    padding: 0;
}

.widgets
{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.widget
{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-height: 64pt;
    text-align: center;
    padding-top: 30px;
}

.red
{
    background-color: red;
}

.green
{
    background-color: green;
}

ng-md-icon
{
    fill: white;
    padding-top: 20px !important;
    margin-top: 20px !important;
    border-top: 5px solid transparent;
}

md-button
{
    padding-top: 10px !important;
    margin-top: 10px !important;
}