<!doctype html>
<html ng-app="pandect">
  
  <head>
    <meta charset="utf-8">
    <title>Pandect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/shared.js"></script>
    <script src="/scripts/main.js"></script>
  </head>
  
  <body md-theme="cyan" layout="column" layout-fill>
    
    <md-checkbox>Test</md-checkbox>
    <md-button>hello World!</md-button>

    <h1>Pandect</h1>
    <p>Welcome to Pandect !</p>
  </body>

</html>